   <h1>Students#show</h1>

  <div>
    <p class="student_welcome"> Welcome </p>
    <p class="student_welcome"><%= @student.full_name %></p>
    <p class="student_welcome"><%= @student.email %></p>
  </div>

<p>Find me in app/views/students/show.html.erb</p>
