
<div class="search-results">

    <!--div style="float:right; padding:5px;">
		<span class="sort_by"> Sort by </span>  <%#= select_tag :order, options_for_select([:created_at, :title], params[:order]),
       :onchange => "if(this.value){window.location='?order='+this.value;}", :id => 'select_per_page' %>
    </div-->
    <div>
    	<% if !params[:q].blank? %>
    		<p> Search results for: <%= params[:q].to_s %></p>
    	<% end %>
    </div>
    <%= render 'filter' %>
    <%= render 'project' %>
</div>

