<div>
	<h2 style="text-align:center;">Browse By Courses</h2>
	<% @courses.each do |c| %>
		<p> <%= link_to c.course_name, c %> </p>
	<% end %>
	<br>
<%= will_paginate @courses, class: 'flickr_pagination'%>
</div>