<p>Number of categories: <%= @categories.count %></p>
<hr>
<table>
	<tr>
		<th style="font-weight:bolder;font-size:1.5em">Categories</th>
	</tr>
	<tr>
		<td><hr></td>
		<td><hr></td>
		<td><hr></td>
	</tr>
</table>
<% @categories.each do |c| %>
<table>
	<tr>
		<td class="admin_manage_field_names"><%= c.category_name %></td>
		<td><%= link_to 'Edit', edit_category_path(c), id: 'edit-project'%></td>
		<td><%= link_to 'Delete', c, method: :delete, id: 'delete-project'%></td>
	</tr>
</table>
<% end %>
