<h1>Categories#new</h1>
<div>
	<%= form_for (@category) do |c| %>
		<%= c.label :category_name %>
		<%= c.text_field :category_name %>
		<%= c.submit 'save' %>
	<% end %>
</div>
<p>Find me in app/views/categories/new.html.erb</p>
