<div class="nav" id="fixed">

	<nav style="display:block;">
		<ul style="display:block;">
		  	<li><%= link_to 'All Projects', projects_path %></li>
		  <%= render 'layouts/navigation_links' %>
		</ul>
	</nav>
</div>

